---
import { Image } from "astro:assets";
import Logo from "../images/logo.webp";
import Example from "../images/examples.webp";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "../css/lite-yt.css";
---

<html class="" lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.ico" />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content="{Astro.generator}" />
        <title>How Did I Login | Browser Extension</title>
        <meta
            name="description"
            content="How did I Login remembers login methods of all websites for you. The next time it places a ‘last used’ marker on the correct method. Available on Chrome and Firefox"
        />
        <meta
            name="keywords"
            content="Login Method, Remember Login, How did I login, login method, Remember sign in"
        />
        <meta
            property="og:title"
            content="How Did I Login | Browser Extension"
        />
        <meta
            property="og:description"
            content="How did I Login remembers login methods of all websites for you. The next time it places a ‘last used’ marker on the correct method. Available on Chrome and Firefox"
        />
        <meta
            property="og:image"
            content="https://howlogin.anirudha.pro/openGraph.png"
        />
        <meta property="og:url" content="https://howlogin.anirudha.pro/" />
        <meta property="twitter:card" content="summary_large_image" />
        <meta
            property="twitter:title"
            content="How Did I Login | Browser Extension"
        />
        <meta
            property="twitter:description"
            content="How did I Login remembers login methods of all websites for you. The next time it places a ‘last used’ marker on the correct method. Available on Chrome and Firefox"
        />
        <meta
            property="twitter:image"
            content="https://howlogin.anirudha.pro/openGraph.png"
        />
    </head>
    <body class="bg-white text-black font-poppins">
        <nav
            class="fixed top-0 left-0 w-full bg-white py-3 px-2 md:px-6 flex justify-between items-center"
        >
            <div class="flex items-center gap-3">
                <Image
                    src={Logo}
                    alt="How Did I Login logo"
                    class="w-10 h-10"
                    loading="eager"
                />
                <h2 class="font-bold text-2xl text-dBlue">How Did I Login</h2>
            </div>
            <div>
                <a
                    id="dynamicLink"
                    href="https://chrome.google.com/webstore/detail/ngooccldglhoehgmbeflgnlcebnnhkeg"
                    class="hidden md:block bg-lBlue text-dBlue font-semibold text-lg py-2 px-6"
                    >Add to Chrome</a
                >
                <a
                    id="mobileDynamicLink"
                    href="https://chrome.google.com/webstore/detail/ngooccldglhoehgmbeflgnlcebnnhkeg"
                    class="md:hidden bg-lBlue text-dBlue font-semibold text-lg py-2 px-6"
                    >Download</a
                >
            </div>
        </nav>

        <div class="h-[60vh] h-[60svh] pb-12 flex items-end justify-center">
            <div class="max-w-4xl flex flex-col items-center">
                <h1
                    class="text-5xl md:text-[5rem] leading-[1.1] font-bold text-dBlue text-center"
                >
                    <span class="text-mBlue">Never Forget</span> How You logged in
                    again
                </h1>
                <p class="text-center text-xl text-dBlue max-w-xl px-2 mt-6">
                    Track and remember your login methods across different
                    websites with ease
                </p>
                <div class="flex gap-6 mt-6">
                    <a
                        href="https://chrome.google.com/webstore/detail/ngooccldglhoehgmbeflgnlcebnnhkeg"
                        class="bg-lBlue text-dBlue font-semibold text-xl py-4 px-12"
                        >Chrome</a
                    >
                    <a
                        href="https://addons.mozilla.org/en-US/firefox/addon/how-did-i-login/"
                        class="bg-lBlue text-dBlue font-semibold text-xl py-4 px-12"
                        >Firefox</a
                    >
                </div>
            </div>
        </div>
        <div class="w-full px-4">
            <lite-youtube
                class="mx-auto w-full max-w-[1080px] aspect-video"
                videoid="tgKNMrWbsK0"
                playlabel="Play: Promo video"></lite-youtube>
        </div>
        <div class="w-full mt-16 px-6 md:px-8">
            <div class="bg-black w-full h-[2px]"></div>
        </div>
        <div
            class="flex flex-col md:flex-row justify-between px-6 md:px-10 pt-8 md:pt-20 max-w-[2000px] mx-auto"
        >
            <div class="md:w-[60%] mt-6">
                <h2 class="font-semibold text-dBlue text-4xl">
                    What does it Do?
                </h2>
                <p class="text-lg md:text-2xl md:leading-9 max-w-4xl mt-2">
                    Have you ever found yourself wondering which method you used
                    to sign in to a website? Google? Apple? Microsoft? Email?
                    How Did I login solves this, it detects and records what
                    method you use to login. The next time it places a ‘last
                    used’ marker on the correct method.
                </p>
            </div>
            <div class="md:w-[35%] mt-8 md:mt-0">
                <Image
                    src={Example}
                    alt="Login Sections of three different websites with methods marked with 'last used' by extension."
                    class="object-fit"
                />
            </div>
        </div>
        <div class="max-w-[2000px] mx-auto mt-8 md:mt-20">
            <div class="bg-[#BFCCFF] mx-3 md:mx-10 rounded-2xl p-6 md:p-8">
                <h2
                    class="text-4xl text-center md:text-6xl text-dBlue font-bold mx-auto w-fit"
                >
                    As simple as 1, 2, 3
                </h2>
                <div
                    class="flex flex-col md:flex-row gap-4 justify-between mt-8"
                >
                    <div
                        class="bg-[#3D518C] flex-1 max-w-[500px] rounded-xl p-4 flex flex-col justify-between"
                        onmouseover="this.querySelector('video').play()"
                        onmouseout="this.querySelector('video').pause()"
                    >
                        <div>
                            <h3 class="text-[1.15rem] font-medium text-white">
                                Step 1 - Instal the extension
                            </h3>
                            <p class="text-neutral-100 text-lg">
                                Simply add the extension to <a
                                    href="https://chrome.google.com/webstore/detail/ngooccldglhoehgmbeflgnlcebnnhkeg"
                                    class="underline text-[#6F96FB]">Chrome</a
                                > or <a
                                    href="https://addons.mozilla.org/en-US/firefox/addon/how-did-i-login/"
                                    class="underline text-[#6F96FB]">Firefox</a
                                >.
                            </p>
                        </div>
                        <video class="w-full rounded mt-2" loop muted
                            ><source src="step_1.mp4" type="video/mp4" /></video
                        >
                    </div>
                    <div
                        class="bg-[#3D518C] flex-1 max-w-[500px] rounded-xl p-4 flex flex-col justify-between"
                        onmouseover="this.querySelector('video').play()"
                        onmouseout="this.querySelector('video').pause()"
                    >
                        <div>
                            <h3 class="text-[1.15rem] font-medium text-white">
                                Step 2 - Login anywhere
                            </h3>
                            <p class="text-neutral-100 text-lg">
                                Login to any site using the method of your
                                choice.
                            </p>
                        </div>
                        <video class="w-full rounded mt-2" loop muted
                            ><source src="step_2.mp4" type="video/mp4" /></video
                        >
                    </div>
                    <div
                        class="bg-[#3D518C] flex-1 max-w-[500px] rounded-xl p-4"
                        onmouseover="this.querySelector('video').play()"
                        onmouseout="this.querySelector('video').pause()"
                    >
                        <h3 class="text-[1.15rem] font-medium text-white">
                            Watch it Work!
                        </h3>
                        <p class="text-neutral-100 text-lg">
                            Next time, your last used login method will be
                            marked with a ‘Last used’ label.
                        </p>
                        <video class="w-full rounded mt-2" loop muted
                            ><source src="step_3.mp4" type="video/mp4" /></video
                        >
                    </div>
                </div>
            </div>
        </div>

        <!-- testimonials -->
        <!-- <div class="mt-20 px-6 max-w-[1600px] mx-auto">
            <h2
                class="text-4xl text-center md:text-6xl text-dBlue font-bold mx-auto w-fit"
            >
                Don’t Take Our Word For It
            </h2>
            <div
                class="flex flex-col md:flex-row gap-6 md:gap-16 justify-between mt-10"
            >
                <div class="bg-[#d1e8ff] px-5 pt-4 pb-6 flex-1 rounded-lg">
                    <div class="w-full flex justify-between items-center">
                        <div class="flex gap-2 items-center">
                            <Image
                                class="w-12 h-12"
                                alt="user pfp"
                                src={Logo}
                            />
                            <div class="text-sm">
                                <span>@anirudhasah</span><h3
                                    class="text-2xl font-bold leading-none"
                                >
                                    APS
                                </h3>
                            </div>
                        </div>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="32"
                            height="32"
                            viewBox="0 0 24 24"
                            ><path
                                fill="currentColor"
                                d="M18.205 2.25h3.308l-7.227 8.26l8.502 11.24H16.13l-5.214-6.817L4.95 21.75H1.64l7.73-8.835L1.215 2.25H8.04l4.713 6.231zm-1.161 17.52h1.833L7.045 4.126H5.078z"
                            ></path></svg
                        >
                    </div>
                    <p class="mt-2">
                        “How Did I Login changed my life. I was dumb and ugly
                        and no girls liked me. Then I Installed this extension
                        and instantly gained 100x aura. Now I have 7
                        girlfriends."
                    </p>
                </div>
                <div class="bg-[#d1e8ff] px-5 pt-4 pb-6 flex-1 rounded-lg">
                    <div class="w-full flex justify-between items-center">
                        <div class="flex gap-2 items-center">
                            <Image
                                class="w-12 h-12"
                                alt="user pfp"
                                src={Logo}
                            />
                            <div class="text-sm">
                                <span>@iamchad2_2</span><h3
                                    class="text-2xl font-bold leading-none"
                                >
                                    Chaddy
                                </h3>
                            </div>
                        </div>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="32"
                            height="32"
                            viewBox="0 0 24 24"
                            ><path
                                fill="currentColor"
                                d="M18.205 2.25h3.308l-7.227 8.26l8.502 11.24H16.13l-5.214-6.817L4.95 21.75H1.64l7.73-8.835L1.215 2.25H8.04l4.713 6.231zm-1.161 17.52h1.833L7.045 4.126H5.078z"
                            ></path></svg
                        >
                    </div>
                    <p class="mt-2">“Nice”</p>
                </div>
                <div class="bg-[#d1e8ff] px-5 pt-4 pb-6 flex-1 rounded-lg">
                    <div class="w-full flex justify-between items-center">
                        <div class="flex gap-2 items-center">
                            <Image
                                class="w-12 h-12"
                                alt="user pfp"
                                src={Logo}
                            />
                            <div class="text-sm">
                                <span>@ihavenolife</span><h3
                                    class="text-2xl font-bold leading-none"
                                >
                                    Reply guy
                                </h3>
                            </div>
                        </div>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="32"
                            height="32"
                            viewBox="0 0 24 24"
                            ><path
                                fill="currentColor"
                                d="M18.205 2.25h3.308l-7.227 8.26l8.502 11.24H16.13l-5.214-6.817L4.95 21.75H1.64l7.73-8.835L1.215 2.25H8.04l4.713 6.231zm-1.161 17.52h1.833L7.045 4.126H5.078z"
                            ></path></svg
                        >
                    </div>
                    <p class="mt-2">“Nice stuff bro”</p>
                </div>
            </div>
        </div> -->
        <div class="mt-20 px-6 pb-20 max-w-7xl mx-auto">
            <h2
                class="text-4xl text-center md:text-6xl text-dBlue font-bold mx-auto w-fit"
            >
                FAQs
            </h2>
            <div class="mt-8">
                <div
                    class="question border-y-2 border-dBlue px-2 md:px-4 py-5 group cursor-pointer"
                >
                    <div class="flex justify-between items-center">
                        <h3 class="text-2xl md:text-2xl font-bold text-dBlue">
                            How is this different from a password manager?
                        </h3>
                        <div
                            class="ml-3 md:ml-16 transition-transform duration-500 group-data-[active=true]:rotate-180"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 24 24"
                                ><path
                                    fill="currentColor"
                                    d="M12 14.975q-.2 0-.375-.062T11.3 14.7l-4.6-4.6q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l3.9 3.9l3.9-3.9q.275-.275.7-.275t.7.275t.275.7t-.275.7l-4.6 4.6q-.15.15-.325.213t-.375.062"
                                ></path></svg
                            >
                        </div>
                    </div>
                    <p
                        class="text-lg mt-1 opacity-0 max-h-0 -translate-y-6 transition-transform duration-200 group-data-[active=true]:opacity-100 group-data-[active=true]:transition group-data-[active=true]:duration-500 group-data-[active=true]:max-h-none group-data-[active=true]:translate-y-0"
                    >
                        How Did I Login remembers the method you used to log in
                        (e.g., email, Sign in with Google, Sign in with Apple),
                        not your email ID or password. Password managers, on the
                        other hand, store your actual login credentials.
                    </p>
                </div>
                <div
                    class="question border-b-2 border-dBlue px-2 md:px-4 py-5 group cursor-pointer"
                >
                    <div class="flex justify-between items-center">
                        <h3 class="text-2xl md:text-2xl font-bold text-dBlue">
                            Is it safe?
                        </h3>
                        <div
                            class="ml-3 md:ml-16 transition-transform duration-500 group-data-[active=true]:rotate-180"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 24 24"
                                ><path
                                    fill="currentColor"
                                    d="M12 14.975q-.2 0-.375-.062T11.3 14.7l-4.6-4.6q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l3.9 3.9l3.9-3.9q.275-.275.7-.275t.7.275t.275.7t-.275.7l-4.6 4.6q-.15.15-.325.213t-.375.062"
                                ></path></svg
                            >
                        </div>
                    </div>
                    <p
                        class="text-lg mt-1 opacity-0 max-h-0 -translate-y-6 transition-transform duration-200 group-data-[active=true]:opacity-100 group-data-[active=true]:transition group-data-[active=true]:duration-500 group-data-[active=true]:max-h-none group-data-[active=true]:translate-y-0"
                    >
                        Yes, the extension is safe to use. It doesn't collect
                        any data, and your login methods are stored locally in
                        your browser, ensuring your information remains private.
                    </p>
                </div>
                <div
                    class="question border-b-2 border-dBlue px-2 md:px-4 py-5 group cursor-pointer"
                >
                    <div class="flex justify-between items-center">
                        <h3 class="text-2xl md:text-2xl font-bold text-dBlue">
                            Does the extension work on all websites?
                        </h3>
                        <div
                            class="ml-3 md:ml-16 transition-transform duration-500 group-data-[active=true]:rotate-180"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 24 24"
                                ><path
                                    fill="currentColor"
                                    d="M12 14.975q-.2 0-.375-.062T11.3 14.7l-4.6-4.6q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l3.9 3.9l3.9-3.9q.275-.275.7-.275t.7.275t.275.7t-.275.7l-4.6 4.6q-.15.15-.325.213t-.375.062"
                                ></path></svg
                            >
                        </div>
                    </div>
                    <p
                        class="text-lg mt-1 opacity-0 max-h-0 -translate-y-6 transition-transform duration-200 group-data-[active=true]:opacity-100 group-data-[active=true]:transition group-data-[active=true]:duration-500 group-data-[active=true]:max-h-none group-data-[active=true]:translate-y-0"
                    >
                        How Did I Login works on most websites where you can log
                        in with different methods, such as Google, Apple, or
                        Email. However, certain sites may have restrictions that
                        could affect functionality.
                    </p>
                </div>
                <div
                    class="question border-b-2 border-dBlue px-2 md:px-4 py-5 group cursor-pointer"
                >
                    <div class="flex justify-between items-center">
                        <h3 class="text-2xl md:text-2xl font-bold text-dBlue">
                            How does this extension benefit me?
                        </h3>
                        <div
                            class="ml-3 md:ml-16 transition-transform duration-500 group-data-[active=true]:rotate-180"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 24 24"
                                ><path
                                    fill="currentColor"
                                    d="M12 14.975q-.2 0-.375-.062T11.3 14.7l-4.6-4.6q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l3.9 3.9l3.9-3.9q.275-.275.7-.275t.7.275t.275.7t-.275.7l-4.6 4.6q-.15.15-.325.213t-.375.062"
                                ></path></svg
                            >
                        </div>
                    </div>
                    <p
                        class="text-lg mt-1 opacity-0 max-h-0 -translate-y-6 transition-transform duration-200 group-data-[active=true]:opacity-100 group-data-[active=true]:transition group-data-[active=true]:duration-500 group-data-[active=true]:max-h-none group-data-[active=true]:translate-y-0"
                    >
                        How Did I Login helps you quickly recall how you
                        previously logged into a website, saving time and
                        reducing frustration, especially for sites you don't
                        visit frequently.
                    </p>
                </div>
                <div
                    class="question border-b-2 border-dBlue px-2 md:px-4 py-5 group cursor-pointer"
                >
                    <div class="flex justify-between items-center">
                        <h3 class="text-2xl md:text-2xl font-bold text-dBlue">
                            Does it remember which account I used?
                        </h3>
                        <div
                            class="ml-3 md:ml-16 transition-transform duration-500 group-data-[active=true]:rotate-180"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 24 24"
                                ><path
                                    fill="currentColor"
                                    d="M12 14.975q-.2 0-.375-.062T11.3 14.7l-4.6-4.6q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l3.9 3.9l3.9-3.9q.275-.275.7-.275t.7.275t.275.7t-.275.7l-4.6 4.6q-.15.15-.325.213t-.375.062"
                                ></path></svg
                            >
                        </div>
                    </div>
                    <p
                        class="text-lg mt-1 opacity-0 max-h-0 -translate-y-6 transition-transform duration-200 group-data-[active=true]:opacity-100 group-data-[active=true]:transition group-data-[active=true]:duration-500 group-data-[active=true]:max-h-none group-data-[active=true]:translate-y-0"
                    >
                        How Did I Login remembers which Google account you used
                        to log in to a site last time, if applicable. However,
                        it doesn't store your email address or password for
                        other login methods, as that's typically a function of
                        password managers.
                    </p>
                </div>
            </div>
        </div>
        <script src="../javascript/script.js"></script>
        <script src="../javascript/lite-yt.js"></script>
    </body>
</html>
